.confirm-password {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.confirm-password  .container{
    width: 50%;
}
.confirm-password .container h1{
    color: var(--purple);
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
}

.confirm-password .container h2{
    font-size: 35px;
    font-weight: 700;
    text-align: center;
}
.confirm-password .container .auth-form {
    margin-top: 50px;
}
.confirm-password .container .auth-form form label{
    font-size: 20px;
    font-weight: 400;
}
.confirm-password .container .auth-form form #newPassword {
    margin-bottom: 20px;
}
.confirm-password .container .auth-form form button {
    margin-top: 50px;
}
/* media screen */
@media (max-width: 991px){
    .confirm-password  .container{
        width: 100%;
    }
}
@media (max-width: 771px){
    .confirm-password .container h1{
        font-size: 35px;
    }
    .confirm-password .container h2{
        font-size: 30px;
    }
}
@media (max-width: 435px){
    .confirm-password .container h1{
        font-size: 30px;
    }
    .confirm-password .container h2{
        font-size: 20px;
    }
    .confirm-password .container .auth-form form label{
        font-size: 16px;
    }
}