.change-password {
    min-height: 100vh;
}
.change-password .container {
    margin-top: 100px;
    margin-bottom: 100px;
}
.change-password .container h1{
    font-size: 52px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
}

.change-password .container .auth-form {
    margin-top: 50px;
}
.change-password .container .auth-form form label{
    font-size: 42px;
    font-weight: 400;
    color: #000;
    margin-bottom: 30px;
}
.change-password .container .auth-form form input {
    font-size: 30px;
    margin-bottom: 40px;
    padding: 7px;
    border: none;
    background: rgba(237, 237, 237, 0.21);
    box-shadow: 0px 6px 6px rgba(220, 217, 217, 0.25);
    border-radius: 8px 8px;
}


.change-password .container .auth-form form button {
    margin-top: 50px;
    font-size: 42px;
}
/* media screen */
@media (max-width: 771px){
    .change-password .container h1{
        font-size: 35px;
    }
    .change-password .container .auth-form form label,
    .change-password .container .auth-form form input,
    .change-password .container .auth-form form button {
        font-size: 25px;
    }
    .change-password .container .auth-form form label {
        margin-bottom: 15px;
    }
    
}
@media (max-width: 435px){
    .change-password .container h1{
        font-size: 30px;
    }
    .change-password .container .auth-form form label,
    .change-password .container .auth-form form input,
    .change-password .container .auth-form form button {
        font-size: 20px;
    }
}