
.select-price  {
    border-radius: 8px 8px;
    margin: 10px;
    position: relative;
}
.select-price .selection {
    background-color: var(--white);
    padding: 10px 7px;
    border-radius: 8px 8px;
    min-width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}
.select-price .selection span{
    font-size: 18px;
}
.select-price .selection svg{
    color: #999;
    cursor: pointer;
}

/* selection list */
.select-price .select-rang {
    position: absolute;
    background-color: var(--white);
    border-radius: 5px 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(85, 0, 162, 0.11);
}
.select-price .select-rang div {
    margin-bottom: 20px;
}
.select-price .select-rang label {
    font-size: 20px;
    margin-bottom: 5px;
}
.select-price .select-rang input {
    border: 1px solid rgba(85, 0, 162, 0.11);
    width: 100%;
    padding: 5px;
    font-size: 20px;
}
.select-price .select-rang input:focus {
    outline: none;
}
.select-price .select-rang div.btn-primary {
    background-color: var(--purple);
    width: 100%;
    border: 1px solid var(--purple);
    font-size: 20px;
}

/* start media screen */
@media(max-width: 350px){
    .select-price .selection span{
        font-size: 14px;
    }
}