.latest-apartments {
    margin: 80px 0px;
}
.latest-apartments .container h1{
    font-weight: 700;
    font-size: 40px;
    padding-bottom: 80px;
}

.latest-apartments swiper-container {
    max-height: 324px;
}
.latest-apartments swiper-container swiper-slide {
    position: relative;
    overflow: hidden;
}
.latest-apartments swiper-container swiper-slide .title-slide {
    position: absolute;
    width: 100%;
    padding: 25px 5px;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.55);
    font-size: 22px;
    text-align: center;
    color: #000000;
}
.latest-apartments swiper-container swiper-slide img{
    width: 100%;
}

/* start media screen */

@media(max-width: 761px){
    .latest-apartments swiper-container swiper-slide .title-slide {
        padding: 15px 5px;
        font-size: 18px;
        font-weight: 700;
    }
}
@media(max-width: 520px){
    .latest-apartments swiper-container swiper-slide .title-slide {
        padding: 5px;
        font-size: 14px;
        font-weight: 700;
    }
}
@media(max-width: 412px){
    .latest-apartments swiper-container swiper-slide .title-slide {
        padding: 5px;
        font-size: 12px;
        font-weight: 700;
    }
}