.notifications {
    position: absolute;
    left: 0px;
    top: calc(100% + 10px);
    width: 130%;
    z-index: 15;
    background-color: #ffffff7e;
}
.notifications .loading {
    display: flex;
    align-items: center;
    justify-content: center;
}
.notifications .notifications-boxes {
    background-color: var(--white);
    border-radius: 8px 8px;
    padding: 18px 10px;
    height: 400px;
    border: 2px solid #f1f5f9;
    overflow: auto;
}
.notifications .notifications-boxes .box {
    background-color: rgba(237, 237, 237, 0.44);
    box-shadow: 0px 6px 6px rgba(220, 217, 217, 0.25);
    margin-bottom: 18px;
    display: flex;
    align-items: center;
}
.notifications .notifications-boxes .box p {
    font-size: 13px;
    line-height: 18px;
}

.notifications .notifications-boxes .box .image img {
    height: 70px;
    width: 70px;
    margin: 8px 15px;
    border-radius: 100%;
}
/* start media screen */
@media(max-width: 610px){
    .notifications {
        position: absolute;
        width: 100%;
    }
}