*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
:root{
    --purple: #5500A1;
    --black: #000000;
    --white: #ffffff;
    --light: #F7F7F7;
    --red: #E20D0D;
    --second-light: rgba(0, 0, 0, 0.18);
}
body{
    margin: 0px;
    font-family: 'Almarai', sans-serif;
    direction: rtl;
}
ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
a{
    text-decoration: none;
    color: #000000;
}
h1,h2,h3,h4,h5,h6,p {
    margin-bottom: 0px;
}