
.forget-password-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.forget-password-content .container{
    width: 50%;
}
.forget-password-content .container h1{
    color: var(--purple);
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
}
.forget-password-content .container h2{
    font-size: 35px;
    font-weight: 700;
    text-align: center;
}
/* form style */
.forget-password-content .container .auth-form label{
    font-size: 20px;
    font-weight: 400;
}
.forget-password-content .container .auth-form form input[type = "email"] {
    margin-bottom: 50px;
}
.forget-password-content .container .new-account{
    text-align: center;
}

@media (max-width: 991px){
    .forget-password-content .container{
        width: 100%;
    }
}
@media (max-width: 771px){
    .forget-password-content .container h1{
        font-size: 35px;
    }
    .forget-password-content .container h2{
        font-size: 30px;
    }
}
@media (max-width: 435px){
    .forget-password-content .container h1{
        font-size: 30px;
    }
    .forget-password-content .container h2{
        font-size: 20px;
    }
    .forget-password-content .container .auth-form label{
        font-size: 16px;
    }
}